<main class="card-wrapper">
  <div class="section">
        <div class="header">
          
        </div>
        <!-- image section -->
        <div class="section">
          <div class="container-fluid" style="background-image:url(member.cover_photo);width: 100%; height:300px"></div>
          <div class="main-photo" style="border:5px solid white;width:30%;height:100px;margin-left:auto;margin-right:auto">
            <img src="member.profle_photo" >
          </div>
        </div>
         <!-- image section ends -->

        <div class="section">
      
        </div>
      
          <div class="footer">
            <!-- contact footer-->
            <div class="row" style="display:block;text-align:center">
              <div style="text-align:center"><h5>CONTACT</h5></div>
               <div class="row" style="display:flex">
                   <div class="col-sm-6 col-md-6 col-lg-6" style="float:right">
                        <i>{{member.phone_number}}</i>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6" style="float:left">
                        <i>{{member.email}}</i>
                     </div>
               </div>
            </div>
            <!-- /Contact footer ends-->
  </div>  
  <!-- social media -->
  <div class="row" style="display:flex">
      <div class="col-sm-6 col-lg-6" style="text-align:right"><h5>FOLLOW US :</h5></div>
      <div class="col-sm-6 col-lg-6" style="text-align :left">
        <i class="fa fa-facebook"></i> 
        <i class="fa fa-twitter"></i>
      </div>
  </div>
  <!-- social media ends-->

</div>
</main>