<ng-container>
  <div class="section shadow" id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-9" style="display:flex;height:85px;">
          <img [routerLink]="['/']" src="../../../assets/icons/icons-20.svg" style="outline: none;width:80px;height:80px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
          <h5 style="font-size:1.4em;font-family: poppins;margin-left: 20px;margin-top:auto;margin-bottom:auto;font-weight:bold;color:#606060;font-style: continuous">Matchmakerz</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="display:flex;height:85px;">
          <button class="btn btn-md shadow" style="margin-top: auto;margin-bottom: auto;margin-left: 10%;border-radius: 20px;border: 1px solid #f93c8b;color: #f93c8b;" (click)="gotMyMatch()" >Are you matchmaker</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="../../../assets/images/img1.jpg" style="height: 400px;width: 100%;">
    <div>
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <img class="img-thumbnail" id="matchmaker-img" src="{{value.profile_pic}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <!-- <h3 id="name">{{member.data[0].first_name}} {{member.data[0].last_name}}</h3> -->
<!-- ======= -->
              <h3 id="name">{{value.first_name}} {{value.last_name}}</h3>
<!-- >>>>>>> beab7c4ca5212bdc31bd90ed9224a59ab5539656 -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" id="button-div">
                    <button class="btn shadow" id="button" (click)="register()">Register Now</button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" id="button-div">
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="getTouch">
                            <div class="container-fluid">
                              <div class="row">
                                <mat-form-field class="full-width"  style="height:60px;width: 200px; ">
                                    <mat-label>Phone Number</mat-label>
                                          <input matInput formControlName="phone_number" placeholder="phone_number">
                                
                                  </mat-form-field>
                              </div>
                              <div class="row">
                                <mat-form-field class="full-width"  style="height:60px;width: 200px; ">
                                    <mat-label>Name</mat-label>
                                          <input matInput formControlName="name" placeholder="name">
                                
                                  </mat-form-field>
                              </div>


                            </div>

                                                    <button type="submit" class="btn" style="background: #f92c8b; color: white" (click)="touch()">submit</button>
                          </form>
                        </div>
                      <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
                        </div>
                      </ng-template>

                    <button class="btn shadow" id="button" (click)="open(content)">Get In-Touch</button>
                  </div>
             <!--      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" id="button-div">
                     <ng-template #plan let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="getPlans">
                            <mat-form-field class="full-width"  style="height:60px;width: 200px; ">
                                <mat-label>Phone Number</mat-label>
                                      <input matInput formControlName="phone_number" placeholder="phone_number">
                            
                                  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <button type="submit" class="btn" style="background: #f92c8b; color: white" (click)="subscribe(plan)">submit</button>
                                  </form>
                                </div>
                              <div class="modal-footer">
                                </div>
                              </ng-template>
                    <button class="btn shadow" id="button" (click)="open(plan)">Subscribe</button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="container" id="text-div">
                <div class="row">
                  <h4>About</h4>
                </div>
                <div class="row">

                  <p>{{value.about}}</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="container" id="text-div">
                <div class="row">
                  <h4>Unique About Me</h4>
                </div>
                <div class="row">

                  <p>{{value.unique_about}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="container" id="text-div">
                <div class="row">
                  <h4>Specialise In</h4>
                </div>
                <div class="row">
                  <p>{{value.specialization}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <img [routerLink]="['/clients']" src="../../../assets/icons/icons-20.svg" style="width:100%;height:100px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;margin: auto;margin-top: 50px">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row" style="margin-top: 4%;">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="flex-row" style="display: flex">
                  <img [routerLink]="['/clients']" src="../../../assets/icons/location-mark.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                  <h5 id="footer-text">{{value.location}}</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="flex-row" style="display: flex">
                  <img [routerLink]="['/clients']" src="../../../assets/icons/envelope.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                  <h5 id="footer-text">{{value.email}}</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="flex-row" style="display: flex">
                  <img [routerLink]="['/clients']" src="../../../assets/icons/phone.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                  <h5 id="footer-text">{{value.phone_number}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row">
              <h3 style="margin: auto;margin-top: 8%;color: white">Follows On</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="flex-row" style="display: flex;margin-right: 6%; ">
              <div style="margin:auto;">
<!--                 <img [routerLink]="['/clients']" src="../../../assets/icons/map-marker.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                <img [routerLink]="['/clients']" src="../../../assets/icons/map-marker.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                <img [routerLink]="['/clients']" src="../../../assets/icons/map-marker.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                <img [routerLink]="['/clients']" src="../../../assets/icons/map-marker.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;">
                <img [routerLink]="['/clients']" src="../../../assets/icons/map-marker.svg" style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"> -->
                                        <a href="#"  style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"><i style="color: #f93c8b" class="fa fa-2x fa-facebook"></i> </a>
                        <a href="#"  style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"><i style="color: #f93c8b" class="fa fa-2x fa-twitter"></i> </a>
                        <a href="#"  style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"><i style="color: #f93c8b" class="fa fa-2x fa-dribbble"></i> </a>
                        <a href="#"  style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"><i style="color: #f93c8b" class="fa fa-2x fa-pinterest-p"></i> </a>
                        <a href="#"  style="width:70px;height:70px;border-color: #f93c8b;margin-top:auto;margin-bottom:auto;padding-left:30px;cursor: pointer;"><i style="color: #f93c8b" class="fa fa-2x fa-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 50px;background: #f1f1f1;margin-top: 7%;">
    <div class="container">
      <div class="row">
              <div style="font-size: 17px;height: 33px;padding: 15px;margin: auto;color: #f93c8b"> 
                Copyright 2019 All rights reserved by Twango Social Network Pbt. Ltd
              </div>
      </div>
    </div>

  </div>

</ng-container>



