<main class="card-wrapper">
  <div class="row">
     <h4 style="text-align:center">Register with your matchmaker</h4>
  </div>
  <main class="card-wrapper">
    <div class="row">
      <div class="modal-body">
        <div class="header">
            <h3>Add Client Details</h3>
        </div>
    </div>    
    <main class="modal-body">
          <form [formGroup]="AddClientDetails">
          
             <div class="no-filter">
                <input class="input-group p-2" formControlName="name" placeholder="Name*">
    
                <input class="input-group p-2" formControlName="phone_number" placeholder="phone_number*">
    
                <input class="input-group p-2" formControlName="whatsapp_number" placeholder="whatsapp_number*">
    
                <select class="input-group p-2" formControlName="gender">
                    <option value="" disabled selected>Gender</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
             </div>
    
              <div class="filter1">
                 
                  <input class="input-group p-2" formControlName="height" placeholder="Height*">
                  <input class="input-group p-2" formControlName="birth_date" placeholder="Birth Date*">
                  <input class="input-group p-2" formControlName="birth_place" placeholder="Birth Place*">
              </div>
              <div class="filter2">
    
                  <input class="input-group p-2" formControlName="weight" placeholder="Weight*">
                  <input class="input-group p-2" formControlName="birth_time" placeholder="Bith Time*">
                  <input class="input-group p-2" formControlName="current_city" placeholder="Current City*">
              </div>
              
            <div class="no-filter">
                <select class="input-group p-2" formControlName="food_choice" >
                    <option value="" disabled selected>Food Choice</option>
                    <option value="0">Veg</option>
                    <option value="1">Non-veg</option>
                </select>
                <select class="input-group p-2" formControlName="disability" >
                    <option value="" disabled selected>Disability</option>
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select>
                <input class="input-group p-2" formControlName="disabled_part" placeholder="Disabled Part*">
            </div> 
          
       
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
            </div>
        </form>
    </main>
    
    </div>


    <div class="row">
      <div class="modal-body">
        <div class="header">
            <h3>Add Client Educational Details</h3>
        </div>
      </div>    
      <main class="modal-body">
          <form [formGroup]="AddClientEducationalDetails">
          
            
                <input class="input-group p-2" formControlName="education" placeholder="education*">
      
                <input class="input-group p-2" formControlName="yearly_income" placeholder="yearly_income*">
      
                <input class="input-group p-2" formControlName="office_address" placeholder="office_address*">
      
                <input class="input-group p-2" formControlName="sub_occupation" placeholder="sub_occupation*">
      
                <input class="input-group p-2" formControlName="college" placeholder="college*">
      <!-- 
                <input class="input-group p-2" formControlName="occupation" placeholder="occupation*"> -->
      
                <select class="input-group p-2" formControlName="occupation">
                    <option value="" disabled selected>occupation</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
      
                <select class="input-group p-2" formControlName="degree">
                  <option value="" disabled selected>degree</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
            
                <select class="input-group p-2" formControlName="is_working">
                  <option value="" disabled selected>is_working</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
                 
                 
             
           
       
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
            </div>
        </form>
      </main>
      
      
    </div>

    <div class="row">
      <div class="modal-body">
        <div class="header">
            <h3>Add Client Social Details</h3>
        </div>
      </div>    
      <main class="modal-body">
          <form [formGroup]="AddClientEducationalDetails">
          
            
                <input class="input-group p-2" formControlName="marital_status" placeholder="marital_status*">
      
                <input class="input-group p-2" formControlName="children" placeholder="children*">
      
                <input class="input-group p-2" formControlName="mother_tongue" placeholder="mother_tongue*">
      
                <input class="input-group p-2" formControlName="religion" placeholder="religion*">
      
                <input class="input-group p-2" formControlName="zodiac" placeholder="zodiac*">
      
                <input class="input-group p-2" formControlName="manglik" placeholder="manglik*">
      
                <input class="input-group p-2" formControlName="caste" placeholder="caste*">
      
                <input class="input-group p-2" formControlName="citizenship" placeholder="citizenship*">
      
                <select class="input-group p-2" formControlName="want_horoscope_match">
                    <option value="" disabled selected>want_horoscope_match</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
       
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
            </div>
        </form>
      </main>
      
      
    </div>

    <div class="row">
      <div class="modal-body">
        <div class="header">
            <h3>Add Client Social Details</h3>
        </div>+
      </div>    
      <main class="modal-body">
          <form [formGroup]="AddClientEducationalDetails">
          
            
                <input class="input-group p-2" formControlName="hometown" placeholder="hometown*">
      
                <input class="input-group p-2" formControlName="home_address" placeholder="home_address*">
      
                <input class="input-group p-2" formControlName="gotra" placeholder="gotra*">
      
                <input class="input-group p-2" formControlName="mother_occupation" placeholder="mother_occupation*">
      
                <input class="input-group p-2" formControlName="father_occupation" placeholder="father_occupation*">
      
                <input class="input-group p-2" formControlName="family_income" placeholder="family_income*">
      
                <input class="input-group p-2" formControlName="landline" placeholder="landline*">
      
                <input class="input-group p-2" formControlName="married_son" placeholder="married_son*">
      
                <input class="input-group p-2" formControlName="unmarried_son" placeholder="unmarried_son*">
      
                <input class="input-group p-2" formControlName="married_daughter" placeholder="married_daughter*">
      
                <input class="input-group p-2" formControlName="unmarried_daughter" placeholder="unmarried_daughter*">
      
                <input class="input-group p-2" formControlName="matchmaker_note" placeholder="matchmaker_note*">
      
                <select class="input-group p-2" formControlName="family_type">
                    <option value="" disabled selected>family_type</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
      
                <select class="input-group p-2" formControlName="house_type">
                  <option value="" disabled selected>house_type</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
            
                <select class="input-group p-2" formControlName="mother_status">
                  <option value="" disabled selected>mother_status</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
                <select class="input-group p-2" formControlName="father_status">
                  <option value="" disabled selected>father_status</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
              </select>
          
              <select class="input-group p-2" formControlName="is_active">
                <option value="" disabled selected>is_active</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
                 
                 
             
           
       
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
            </div>
        </form>
      </main>
      
      
    </div>

    <div class="row">
      <div class="modal-body">
        <div class="header">
            <h3>Add Client Social Details</h3>
        </div>
      </div>    
      <main class="modal-body">
          <form [formGroup]="AddClientEducationalDetails">
          
            
                <input class="input-group p-2" formControlName="min_age" placeholder="min_age*">
      
                <input class="input-group p-2" formControlName="max_age" placeholder="max_age*">
      
                <input class="input-group p-2" formControlName="min_income" placeholder="min_income*">
      
                <input class="input-group p-2" formControlName="max_income" placeholder="max_income*">
      
                <input class="input-group p-2" formControlName="min_height" placeholder="min_height*">
      
                <input class="input-group p-2" formControlName="max_height" placeholder="max_height*">
      
                <input class="input-group p-2" formControlName="occupation" placeholder="occupation*">
      
                <input class="input-group p-2" formControlName="caste" placeholder="caste*">
      
                <select class="input-group p-2" formControlName="marital_status">
                    <option value="" disabled selected>marital_status</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
      
                <select class="input-group p-2" formControlName="manglik">
                  <option value="" disabled selected>manglik</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
            
                <select class="input-group p-2" formControlName="food_choice">
                  <option value="" disabled selected>food_choice</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
                 
                <select class="input-group p-2" formControlName="citizenship">
                  <option value="" disabled selected>citizenship</option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
                 
             
           
       
            <div class="input-group p-2">
                <button class="btn btn-user" type="button" (click) = "addClient()"> Next Page</button>          
            </div>
        </form>
      </main>
      
      
    </div>
  </main>
</main>






















<!-- 

<main class="card-wrapper" style="background-color:white">
  <div class="nav navbar" style="min-height:100px">
     <div><img src="../../../assets/icons/icons-20.svg"></div>
     <div><h5>Matchmakerz</h5></div>      
  </div>

  <div style="display:flex">
     <div class="col-sm-12 col-lg-6 col-md-6"></div>
     <div class="col-sm-12 col-lg-6 col-md-6"></div>
  </div>

  <div>

  </div>

   
</main> -->