<div class="modal-body">
  <div class="header">
      <h3>Add Client Details</h3>
  </div>
</div>    
<main class="modal-body">
    <form [formGroup]="AddClientDetails">
    
       <div class="no-filter">
           <div class="input-group p-2">
                  <input class="form-control" formControlName="name" placeholder="Name">
           </div>

           <div class="input-group p-2">
                  <input class="form-control" formControlName="phone_number" placeholder="phone_number">
          </div>

          <div class="input-group p-2">
                  <input class="form-control" formControlName="whatsapp_number" placeholder="whatsapp_number">
          </div>

          <div class="input-group p-2">
              <select class="form-control" formControlName="gender">
                  <option value="" [selected]="true" disabled="true">gender</option>
                  <option value="0">Male</option>
                  <option value="1">Female</option>
              </select>
          </div>   
         
       </div>

        <div class="filter1">

              <div class="input-group p-2">
                      <input class="form-control" formControlName="height" placeholder="Height(Inches)">
              </div>
              <div class="input-group p-2">
                      <input class="form-control" formControlName="birth_date" placeholder="Birth Date(YYYY-MM-DD)">  
              </div>
              <div class="input-group p-2">
                      <input class="form-control" formControlName="birth_place" placeholder="Birth Place*">  
              </div>
           
        </div>

        <div class="filter2">

              <div class="input-group p-2">
                      <input class="form-control" formControlName="weight" placeholder="Weight(Kg)">
              </div>
              <div class="input-group p-2">
                      <input class="form-control" formControlName="birth_time" placeholder="Birth Time(11:45)">  
              </div>
              <div class="input-group p-2">
                      <input class="form-control" formControlName="current_city" placeholder="Current City">
              </div>

        </div>
        
      <div class="no-filter">
          <div class="input-group p-2">
                  <select class="form-control" formControlName="food_choice" >
                      <option value="" [selected]="true" [disabled]="true">Food Choice</option>
                      <option value="0">Vegetarian</option>
                      <option value="1">Non-vegetarian</option>
                  </select>
          </div>
          <div class="input-group p-2">
                  <select class="form-control" formControlName="disability" >
                      <option value="" [selected]="true" [disabled]="true">Disability</option>
                      <option value="0">Not Disabled</option>
                      <option value="1">Disabled</option>
                  </select>
          </div>

          <div class="input-group p-2">
                  <input class="form-control" formControlName="disabled_part" placeholder="Disabled Part">
          </div>         
      </div> 
    
 
      <div class="input-group p-2">
          <button class="btn btn-user" type="button" > Next Page</button>  
          <!-- (click) = "addClient()"         -->
      </div>
  </form>
</main>

<div class="modal-body">
  <div class="header">
      <h3>Add Client Educational Details</h3>
  </div>
</div>    
<main class="modal-body">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <select class="form-control" formControlName="degree">
            <option value="" [selected]="true" disabled="true">Degree</option>
            <option value="0">B.A</option>
            <option value="1">B.Com</option>
            <option value="2">B.E/B.Tech</option>
            <option value="4">B.Sc</option>
            <option value="5">B.Tech</option>
            <option value="6">Bachelors</option>
            <option value="13">Masters</option>
            <option value="16">Ph.D</option>
            <option value="15">Others</option>
          </select>

          <input class="form-control" formControlName="college" placeholder="Last college*">

          <select class="input-group p-2" formControlName="is_working">
              <option value="" disabled selected>is_working</option>
              <option value="0" disabled>No</option>
              <option value="1">Yes</option>
            </select>

          <input class="form-control" formControlName="yearly_income" placeholder="yearly_income*">

          <input class="form-control" formControlName="office_address" placeholder="office_address*">

          <input class="form-control" formControlName="sub_occupation" placeholder="sub_occupation*">

          <select class="input-group p-2" formControlName="occupation">
              <option value="" disabled selected>occupation</option>
              <option value="0">Not Working</option>
              <option value="1">Private Company</option>
              <option value="2">Business/ Self Employed</option>
              <option value="3">Government Job</option>
              <option value="4">Doctor</option>
              <option value="5">Teacher</option>
          </select>
 
      <div class="input-group p-2">
          <button class="btn btn-user" type="button" > Next Page</button>          
      </div>
  </form>
</main>

<div class="modal-body">
  <div class="header">
      <h3>Add Client Social Details</h3>
  </div>
</div>    
<main class="modal-body">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <input class="input-group p-2" formControlName="marital_status" placeholder="marital_status*">

          <input class="input-group p-2" formControlName="children" placeholder="children*">

          <input class="input-group p-2" formControlName="mother_tongue" placeholder="mother_tongue*">

          <input class="input-group p-2" formControlName="religion" placeholder="religion*">

          <input class="input-group p-2" formControlName="zodiac" placeholder="zodiac*">

          <input class="input-group p-2" formControlName="manglik" placeholder="manglik*">

          <input class="input-group p-2" formControlName="caste" placeholder="caste*">

          <input class="input-group p-2" formControlName="citizenship" placeholder="citizenship*">

          <select class="input-group p-2" formControlName="want_horoscope_match">
              <option value="" disabled selected>want_horoscope_match</option>
              <option value="0">No</option>
              <option value="1">Yes</option>
          </select>

      <div class="input-group p-2">
          <button class="btn btn-user" type="button" > Next Page</button>          
      </div>
  </form>
</main>

<div class="modal-body">
  <div class="header">
      <h3>Add Client Social Details</h3>
  </div>+
</div>    
<main class="modal-body">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <input class="input-group p-2" formControlName="hometown" placeholder="hometown*">

          <input class="input-group p-2" formControlName="home_address" placeholder="home_address*">

          <input class="input-group p-2" formControlName="gotra" placeholder="gotra*">

          <input class="input-group p-2" formControlName="mother_occupation" placeholder="mother_occupation*">

          <input class="input-group p-2" formControlName="father_occupation" placeholder="father_occupation*">

          <input class="input-group p-2" formControlName="family_income" placeholder="family_income*">

          <input class="input-group p-2" formControlName="landline" placeholder="landline*">

          <input class="input-group p-2" formControlName="married_son" placeholder="married_son*">

          <input class="input-group p-2" formControlName="unmarried_son" placeholder="unmarried_son*">

          <input class="input-group p-2" formControlName="married_daughter" placeholder="married_daughter*">

          <input class="input-group p-2" formControlName="unmarried_daughter" placeholder="unmarried_daughter*">

          <input class="input-group p-2" formControlName="matchmaker_note" placeholder="matchmaker_note*">

          <select class="input-group p-2" formControlName="family_type">
              <option value="" disabled selected>family_type</option>
              <option value="0">No</option>
              <option value="1">Yes</option>
          </select>

          <select class="input-group p-2" formControlName="house_type">
            <option value="" disabled selected>house_type</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
      
          <select class="input-group p-2" formControlName="mother_status">
            <option value="" disabled selected>mother_status</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
          <select class="input-group p-2" formControlName="father_status">
            <option value="" disabled selected>father_status</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    
        <select class="input-group p-2" formControlName="is_active">
          <option value="" disabled selected>is_active</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

      <div class="input-group p-2">
          <button class="btn btn-user" type="button" > Next Page</button>          
      </div>
  </form>
</main>

<div class="modal-body">
  <div class="header">
      <h3>Add Client Social Details</h3>
  </div>
</div>    
<main class="modal-body">
    <form [formGroup]="AddClientEducationalDetails">
    
      
          <input class="input-group p-2" formControlName="min_age" placeholder="min_age*">

          <input class="input-group p-2" formControlName="max_age" placeholder="max_age*">

          <input class="input-group p-2" formControlName="min_income" placeholder="min_income*">

          <input class="input-group p-2" formControlName="max_income" placeholder="max_income*">

          <input class="input-group p-2" formControlName="min_height" placeholder="min_height*">

          <input class="input-group p-2" formControlName="max_height" placeholder="max_height*">

          <input class="input-group p-2" formControlName="occupation" placeholder="occupation*">

          <input class="input-group p-2" formControlName="caste" placeholder="caste*">

          <select class="input-group p-2" formControlName="marital_status">
              <option value="" disabled selected>marital_status</option>
              <option value="0">No</option>
              <option value="1">Yes</option>
          </select>

          <select class="input-group p-2" formControlName="manglik">
            <option value="" disabled selected>manglik</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
      
          <select class="input-group p-2" formControlName="food_choice">
            <option value="" disabled selected>food_choice</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
           
          <select class="input-group p-2" formControlName="citizenship">
            <option value="" disabled selected>citizenship</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
  
      <div class="input-group p-2">
          <button class="btn btn-user" type="button" > Next Page</button>          
      </div>
  </form>
</main>


